button {
	transition: all 1s;
	background: #000;
	padding: 15px;
}

button a {
	text-align: center;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.btn__vk {
	margin: 7px;
	background: #000000;
	padding: 7px;
	border-radius: 25%;
}

.btn__vk:hover {
	margin: 7px;
	transition: all 0.3s;
	background: #0077ff;
	padding: 7px;
	border-radius: 25%;
}

.btn__telegram {
	margin: 0px;
	background: #000000;
	padding: 7px;
	border-radius: 25%;
}

.btn__telegram:hover {
	margin: 0px;
	transition: all 0.3s;
	background: #0088cc;
	padding: 7px;
	border-radius: 25%;
}