button {
	transition: all 1s;
	background: #000;
	padding: 25px 35px 25px 35px;
	border-radius: 25px;
}
button:hover {
	transition: all 1s;
	background: #181818;
	padding: 25px 130px 25px 130px;
	border-radius: 25px;
}
button a {
	text-align: center;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}