/* Стили футера (styles footer) */

/**/
footer.footer  {
	padding: 33px 0px 25px 0px;
	background: #333333;
	color: #fff;
}
.footer__main {
    margin: -9px 0px 0px 0px;
    padding: 0px 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
/**/

/* кол 1 */
.footer__logo {
    margin: 0px 0px 1px 0px;
    font-weight: bold;
	text-decoration: none;
    font-size: 26px;
    line-height: 31px;
    color: #F5F5F7;
}
/* краткое описание */
.footer__descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #A8A8A8;
}

.link_footer {
	text-decoration: none;
	color: #fff;
}

.footer__row {
    margin: 0px -22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__title span, .footer__subtitle span {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #F5F5F7;
    z-index: 3;
}

.footer__link {
    font-size: 14px;
    line-height: 180%;
    color: #FFFFFF;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
/* Первая и Вторая колонка */
.footer__column,
.footer__column_1,
.footer__column_2 {
    padding: 0px 10px;
    margin: 0px 0px 0px 60px;
    max-width: 278px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}